
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 450px;
  margin:auto;
  margin-top:10%;
}

.empty{
  width:150px;
  height:150px;
  background: black;
  border:2px solid white;
}
.circle{
  background-image: url(../public/circle-2.png);
  background-size: cover;
  background-position: center;
  
}
.cross{
 background-image: url(../public/cross.png);
 background-size: cover;
 background-position: center;
}